<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kabir Singh </title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <link rel="website icon" type="png" href="https://cdn-icons-png.flaticon.com/128/7838/7838457.png">

</head>
<body>

    <section>
      

        <div class="about">
            <h2> About Me</h2>
    
    <div class="about-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLXd2O3kEXU2iTadjjCwnV9qmz6XwH1WbFGZiTefh06NuYYNJRvwqu0nuTYT1g1KjHIzk&usqp=CAU" alt="">
    </div>
    
        </div>
    
    
    
        <div class="about-content"> 
            <p class="Introvert"> Meet the introverted web developer who thrives in solitude and finds solace in lines of code. With a deep focus and meticulous attention to detail, they specialize in crafting elegant solutions behind the scenes. Their quiet demeanor belies a passion for front-end frameworks like React and Angular, where creativity meets functionality. Preferring asynchronous communication, they excel in remote environments, delivering polished websites and applications that speak volumes without uttering a word. Beyond coding, their introspective nature fuels a constant quest for improvement and innovation in the ever-evolving digital landscape. </p>
        </div>


        
    <div class="navbar">
        <nav>
            <a href="index">HOME</a>
            <a href="about">ABOUT</a>
            <a href="skills">SKILLS</a>
        </nav>
    </div>
  
    

</section>
    


    <script>
    

</script>

</body>
</html>