<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title> 
    <link rel="stylesheet" href="style.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
 

    <link rel="website icon" type="png" href="https://cdn-icons-png.flaticon.com/128/7838/7838457.png">
</head>
<body>

<section>
 
    



    <div class="content">
        <div class="img">
            <img src="" alt="">
        </div>
        </div>



    <div id="main">
  


        <h2 class="typed"> </h2>
    </div>


    
    <div class="navbar">
        <nav>
            <a href="index">HOME</a>
            <a href="about">ABOUT</a>
            <a href="skills">SKILLS</a>
        </nav>
    </div>



<!--design-->



<div class="container-img">
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTntbVvAfU7JG8uLo-poU18NdzbQ3a94jpEHA&s" alt="">
</div>
<div class="container">
    <div>
       
         <h3> <i class="ri-javascript-fill"></i>  Heyy! I am Bharat.</h3>
    </div>
</div>



</section>
 
    


    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12/lib/typed.min.js"></script>
    <script>

const typed = new Typed('.typed',{
    strings: [
        'Okay',
        'UI/UX Designer.',
        'Frontend Developer.',
        'Backend Developer.',
        'Full Stack Developer.',

    ],
    typeSpeed: 80,
    backSpeed: 80,
    loop: true,
    rotate: 180,







});




// var main = document.querySelector('#main');
// var cursor = document.querySelector('.cursor');


// main.addEventListener('mousemove', function(val){
//     gsap.to(cursor, {
//         x:val.x,
//         y:val.y,
//         ease: "power3"
//     })
// })








    </script>
    </body>
</html>
