<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Form</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="website icon" type="png" href="https://cdn-icons-png.flaticon.com/128/14987/14987395.png">
</head>
<body>

<div class="head">
  <h3> <img src="https://cdn-icons-png.flaticon.com/128/1189/1189137.png" alt="">  Signup </h3>
</div>
<div class="colors">
  <form action="/signup" method="POST">
    <label for="username" id="username">Username:</label>
    <input type="text" name="username" id="username" class="inpu" placeholder="Enter your username">
    <br>
    <label for="email" id="email">Email:</label>
    <input type="email" name="email" id="email" class="inpu" placeholder="your_email@example.com">
    <br>
    <label for="password" id="password">Password:</label>
    <input type="password" name="password" id="password" class="inpu" placeholder="Enter your password">
    <br>
    <button type="submit">Signup</button>
  </form>

</div>

</body>
</html>
